@import "./variables";

.error-container {
  width: calc(100% - 40px);
  bottom: 140px;
  left: 20px;
  position: absolute;
  background-color: white;
  color: $red;
  z-index: 999;
  text-align: center;
  padding: 20px 5px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
  opacity: 1;
  //   border: 2px solid $red;
  line-height: 1.2em;
  -webkit-box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.31);
  &.fade-in {
    opacity: 0;
    transform: translateY(10px);
  }
}
